PORT=3030
INTERVIEW_PROVIDER=remote
INTERVIEW_REMOTE_VENDOR=aliyun-bailian
INTERVIEW_REMOTE_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
INTERVIEW_REMOTE_MODEL=qwen-plus
INTERVIEW_REMOTE_API_KEY=
INTERVIEW_STORAGE_DIR=data
